{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}} grid-item">
    <div class="post-meta">
        {{authors}}
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
    </div>
    <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
    <div class="content-holder">
        {{#if feature_image}}
            <a href="{{url}}" title="{{title}}" class="img-holder">
                <img src="{{img_url feature_image size="m"}}" alt="{{title}}" class="rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
            </a>
        {{/if}}
        <p>
            {{excerpt words="44"}}
            <br> 
            <a class="read-more btn" href="{{url}}" title="{{title}}">{{t "Read more"}}</a>
        </p>
    </div>
</article>
{{/foreach}}