        <header>
            <a class="blog-logo" href="{{@blog.url}}" title="{{@blog.title}}">
                {{#if @blog.logo}} <img src="{{@blog.logo}}" alt="{{@blog.title}}" /> {{else}} <b>{{@blog.title}}</b> {{/if}} 
            </a>
            {{navigation}}
        </header>