        <header>
            <a class="blog-logo" href="{{@site.url}}" title="{{@site.title}}">
                {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}} <b>{{@site.title}}</b> {{/if}} 
            </a>
            {{navigation}}
        </header>