{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="content" class="container content-inner" role="main" data-id="{{id}}">
        <article class="{{post_class}}">
            <div class="post-meta">
                {{author}}
                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
            </div>
            <h1 class="post-title">{{title}}</h1>
            {{#if feature_image}}
                <div class="content-holder">
                    <img src="{{img_url feature_image}}" alt="{{title}}" class="rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
                </div>
            {{/if}}
            <section class="post-content">
                <div class="editor-content">{{content}}</div>

                <div class="social-share">
                    <span>{{t "Share"}}</span>
                    <a class="twitter" href="https://twitter.com/intent/tweet/?text={{encode title}}&url={{url absolute="true"}}" target="_blank" title="{{t "Share on Twitter"}}"><i class="fab fa-twitter"></i></a>
                    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" title="{{t "Share on Facebook"}}"><i class="fab fa-facebook-f"></i></a>
                </div>

            </section>

            {{#if tags}}
                <ul class="tags">
                {{#foreach tags}}
                    <li>
                        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                    </li>  
                {{/foreach}}
                </ul>
            {{/if}}

        </article>
    </main>

    {{!-- Everything inside the #author tags pulls data from the author --}}
    {{#if authors}}
        <section class="authors">
            {{#foreach authors}}
                <section class="author">
                    {{#if profile_image}}
                    <figure class="author-image">
                        <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
                    </figure>
                    {{/if}}

                    <h4><a href="{{url}}">{{name}}</a></h4>

                    {{#if bio}}
                        <p>{{bio}}</p>
                    {{else}}
                        <p>{{{t "Read <a href='{url}'>more posts</a> by this author" url=(url)}}}.</p>
                    {{/if}}
                    <div class="author-meta">
                        {{#if location}}<span class="author-location">{{location}}</span>{{/if}}
                        {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer">{{website}}</a></span>{{/if}}
                    </div>
                    <div class="social">
                        {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>{{/if}}
                        {{#if facebook}}<a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>{{/if}}
                    </div>
                </section>
            {{/foreach}}
        </section>
    {{/if}}

    <div class="comments"></div>

{{/post}}
